
# Dev Files
/.idea
composer.phar
vendor

# Dev (Testing) Files
.phpunit.result.cache

# Dev (Documentation) Files
.phpdoc
.phpdoc-export
phpunit.phar
phpDocumentor.phar

# Dev (Misc) Files
*.jar
nohup.out

# Config Files
Configuration/Configuration/Credentials.php
Configuration/Configuration/Environment.php
Configuration/Configuration/Credentials.dev.php
Configuration/Configuration/Environment.dev.php
Configuration/Configuration/msft-access-token-primary.json

# Local Storage Files
!LocalStorage/.gitkeep
!LocalStorage/**/.gitkeep
LocalStorage
Public/test.php
